@tailwind base;
@tailwind components;
@tailwind utilities;

/*
            'sm': '640px',
            'md': '768px',
            'lg': '1024px',
            'xl': '1280px',
            '2xl': '1536px',
*/


html {
    @apply bg-[#f2f6fc]
}

.ubuntu-font {
    font-family: "Ubuntu", serif;
}

.tag {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    position: relative;
    padding: 1px 16px 1px 1px;
}

.tag2 {
    @apply
    inline-block
    rounded-[5px]
    border border-[#dbdbdb]
    relative

}

.t1 {
    font-size: .75rem;
    background-color: #ebfffc;
    color: #00947e;
}

.t2 {
    font-size: .75rem;
    background-color: #eff1fa;
    color: #3850b7;
}

.t3 {
    font-size: .75rem;
    background-color: #eff5fb;
    color: #296fa8;
}

.t4 {
    font-size: .75rem;
    background-color: #effaf5;
    color: #257953;
}

.t5 {
    font-size: .75rem;
    background-color: #fffaeb;
    color: #946c00;
}

.t6 {
    font-size: .75rem;
    background-color: #feecf0;
    color: #cc0f35;
}


.carousel {
    @apply
    2xl:w-[calc(188px_*_8)]
    xl:w-[calc(188px_*_6)]
    lg:w-[calc(188px_*_5)]
    md:w-[calc(111px_*_6)]
    sm:w-[calc(111px_*_4)]
    w-full
    scroll-smooth
}

.minh {
    @apply lg:h-[261px] h-[170px]
}

.index-div {
    @apply md:min-h-[calc(100vh_-_74px)] min-h-[calc(100vh_-_90px)]
}

#c1, #c2, #c3, #c4 {
    @apply lg:block hidden
}

.card-image {
    transition: transform .4s;
}


.custom-pagination {
    @apply
    font-semibold
    hover:bg-[#1460d9]
    first:hover:rounded-l-full
    last:hover:rounded-r-full
    first:rounded-l-full
    last:rounded-r-full
    cursor-pointer
    hover:text-[white]
    transition
    ease-in-out
}

.current-page {
    @apply
    bg-[#1460d9]
    pointer-events-none
    text-[white]
    shadow-lg
}

.custom-modal {
    @apply
    overflow-auto
    relative
    bg-[white]
    h-auto max-h-full
    border border-[#dbdbdb]
    rounded-xl
    xl:w-[800px] md:w-[750px] sm:w-[630px] w-11/12
    xl:left-[calc(calc(100%_-_800px)/2)] md:left-[calc(calc(100%_-_750px)/2)] sm:left-[calc(calc(100%_-_630px)/2)] left-[4.1667%]

}

.custom-modal-head {
    @apply
    bg-[#fafafa]
    rounded-t-xl
    p-1.5
    border-b border-[#dbdbdb]
    relative
}

.custom-modal-body {
    @apply
    p-1.5
    text-[#4a4a4a]
    h-full
}

