<!DOCTYPE html>
<html {{ HTML_ATTRS }}>

<head {{ HEAD_ATTRS }}>
<!--   Global site tag (gtag.js) - Google Analytics-->

<!--  <script async src="https://www.googletagmanager.com/gtag/js?id=G-L7GN75S13S"></script>-->
<!--  <script>-->
<!--    window.dataLayer = window.dataLayer || [];-->

<!--    function gtag() {-->
<!--      dataLayer.push(arguments);-->
<!--    }-->

<!--    gtag('js', new Date());-->

<!--    gtag('config', 'G-L7GN75S13S');-->
<!--  </script>-->


<!--   Global site tag (gtag.js) - Google Analytics-->
  {{ HEAD }}


</head>

<body {{ BODY_ATTRS }}>
{{ APP }}
</body>

</html>
